<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/common :: css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="all">
    <div th:include="fragments/header :: header"></div>
    <div id="content">
        <!--/*@thymesVar id="products" type="java.util.List<nano.project.eshop.models.Product>"*/-->
        <!--/*@thymesVar id="product" type="nano.project.eshop.models.Product"*/-->

        <div class="container">

            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a th:href="@{/home}">Home</a>
                    </li>
                    <li th:text="${selectedCategory}"></li>
                </ul>
            </div>

            <div class="col-md-3">
                <!-- *** MENUS AND FILTERS ***
_________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Categories</h3>
                    </div>
                    <!--/*@thymesVar id="Category" type="nano.project.eshop.models.Category"*/-->
                    <div class="panel-body">
                        <ul class="nav nav-pills nav-stacked category-menu">
                            <li>
                                <a disabled="true">Computers <span style="background-color: 	#428bca; color: white "
                                                                   class="badge pull-right"
                                                                   th:text="${numberOfComputers}"></span></a>
                                <ul class=" nav nav-pills nav-stacked category-menu">
                                    <li>
                                        <a th:href="@{/category(category=${T(nano.project.eshop.models.Category).DESKTOP})}">Desktops</a>
                                    </li>
                                    <li><a th:href="@{/category(category=${T(nano.project.eshop.models.Category).LAPTOP})}">Laptops</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a disabled="true">Components <span style="background-color: 	#428bca; color: white "
                                                                    class="badge pull-right"
                                                                    th:text="${numberOfComponents}"></span></a>
                                <ul class=" nav nav-pills nav-stacked category-menu">
                                    <li><a th:href="@{/category(category=${T(nano.project.eshop.models.Category).MOTHERBOARD})}">Motherboards</a>
                                    </li>
                                    <li><a th:href="@{/category(category=${T(nano.project.eshop.models.Category).STORAGE})}">Storage</a>
                                    </li>
                                    <li><a th:href="@{/category(category=${T(nano.project.eshop.models.Category).GRAPHICCARDS})}">Graphic
                                        Cards</a>
                                    </li>
                                    <li><a th:href="@{/category(category='Case')}">Cases</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a disabled="true">Accessories <span
                                        style="background-color: 	#428bca; color: white " class="badge pull-right"
                                        th:text="${numberOfAccessories}"></span></a>
                                <ul class=" nav nav-pills nav-stacked category-menu">
                                    <li><a th:href="@{/category(category=${T(nano.project.eshop.models.Category).MOUSE})}">Mouses</a>
                                    </li>
                                    <li><a th:href="@{/category(category=${T(nano.project.eshop.models.Category).KEYBOARD})}">Keyboards</a>
                                    </li>
                                    <li><a th:href="@{/category(category=${T(nano.project.eshop.models.Category).HEADPHONE})}">Headphones</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a disabled="true">Miscellaneous <span
                                        style="background-color: 	#428bca; color: white " class="badge pull-right"
                                        th:text="${numberOfMiscellaneous}"></span></a>
                                <ul class=" nav nav-pills nav-stacked category-menu">
                                    <li><a th:href="@{/category(category=${T(nano.project.eshop.models.Category).CONSOLE})}">Consoles</a>
                                    </li>
                                    <li><a th:href="@{/category(category=${T(nano.project.eshop.models.Category).VIDEOGAME})}">Video Games</a>
                                    </li>
                                </ul>
                            </li>


                        </ul>

                    </div>
                </div>


                <!-- *** MENUS AND FILTERS END *** -->

            </div>

            <div class="col-md-9">
                <div th:if=" ${selectedCategory}!=${T(nano.project.eshop.models.Category).ALLBYNAME}" class="box">
                    <h1 th:text="${selectedCategory}"></h1>
                    <p th:text=" 'We have the newest '+  ${selectedCategory} + ' enjoy your store browsing'"></p>
                </div>
                <div class="row products">
                    <th:block th:each="product : ${products}">
                    <div class="simpleCart_shelfItem">
                        <div class="col-md-4 col-sm-6">
                            <div class="product">
                                <div class="flip-container">
                                    <div class="flipper">
                                        <div class="front">
                                            <input type="hidden" th:value="${product.getId()}" class="item_id">
                                            <input type="hidden" value="1" class="item_quantity">
                                            <a th:href="@{/product-details(id=${product.getId()})}">
                                                <img th:src="@{${product.getPhoto()}}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                        <div class="back">
                                            <a th:href="@{/product-details(id=${product.getId()})}">
                                                <img th:src="@{${product.getPhoto()}}" alt="" class="img-responsive">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <a th:href="@{/product-details(id=${product.getId()})}" class="invisible">
                                    <img th:src="@{${product.getPhoto()}}" alt="" class="img-responsive item_thumb">
                                </a>
                                <div class="text">
                                    <h3><a class="item_name" th:href="@{/product-details(id=${product.getId()})}" th:text="${product.getName()}"></a></h3>
                                    <p class="price item_price" th:text="${product.getPrice()}"></p>
                                    <p class="buttons">
                                        <a th:href="@{/product-details(id=${product.getId()})}" class="btn btn-default">View detail</a>
                                        <a href="javascript:;" class="btn btn-primary item_add"><i
                                                class="fa fa-shopping-cart"></i>Add to cart</a>
                                    </p>
                                </div>
                                <!-- /.text -->
                            </div>
                            <!-- /.product -->
                        </div>
                    </div>
                    </th:block>
                        <!-- /.col-md-4 -->
                    </div>
                    <!-- /.products -->

                    <div class="pages">

                        <ul class="pagination pagination-centered">
                            <!--/*@thymesVar id="page" type="nano.project.eshop.wrappers.PageWrapper<nano.project.eshop.models.Product>"*/-->
                            <li th:class="${page.firstPage}?'disabled':''">
                                <span th:if='${page.firstPage}'>← First</span>
                                <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>← First</a>
                            </li>
                            <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                                <span th:if='${not page.hasPreviousPage}'>«</span>
                                <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}' title='Go to previous page'>«</a>
                            </li>
                            <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                                <span th:if='${item.current}' th:text='${item.number}'>1</span>
                                <a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span th:text='${item.number}'>1</span></a>
                            </li>
                            <li th:class="${page.hasNextPage}? '' : 'disabled'">
                                <span th:if='${not page.hasNextPage}'>»</span>
                                <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}' title='Go to next page'>»</a>
                            </li>
                            <li th:class="${page.lastPage}? 'disabled' : ''">
                                <span th:if='${page.lastPage}'>Last →</span>
                                <a th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Last →</a>
                            </li>
                        </ul>
                    </div>


                </div>
                <!-- /.col-md-9 -->
            </div>

            <!-- /.container -->
        </div>
        <div th:include="fragments/footer :: footer"></div>
    </div>
    <div th:include="fragments/common ::scripts"></div>

</body>
</html>