<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/common :: css" >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="all">
    <div th:include="fragments/header :: header"></div>
    <div id="content">
        <div class="container">

            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a th:href="@{/home}">Home</a>
                    </li>
                    <li>Checkout - Payment method</li>
                </ul>
            </div>

            <div class="col-md-9" id="checkout">

                <div class="box">
                    <form method="post" th:action="@{/checkout3}">
                        <!--/*@thymesVar id="order" type="nano.project.eshop.models.Order"*/-->

                        <h1>Checkout - Payment method</h1>
                        <ul class="nav nav-pills nav-justified">
                            <li><a th:href="@{/checkout1}"><i class="fa fa-map-marker"></i><br>Address</a>
                            </li>
                            <li><a th:href="@{/checkout2}"><i class="fa fa-truck"></i><br>Delivery Method</a>
                            </li>
                            <li class="active"><a ><i class="fa fa-money"></i><br>Payment Method</a>
                            </li>
                            <li th:class="${order.getPayement()} ? '' : 'disabled'"><a th:href="@{/checkout4}"><i class="fa fa-eye"></i><br>Order Review</a>
                            </li>

                        </ul>

                        <div class="content">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="box payment-method">

                                        <h4 th:text="${T(nano.project.eshop.models.OrderPayement).PAYPAL}">Paypal</h4>

                                        <p>We like it all.</p>

                                        <div class="box-footer text-center">

                                            <input th:checked="(${order.getPayement()} == ${T(nano.project.eshop.models.OrderPayement).PAYPAL}  )? 'true' : 'false'" type="radio" name="payment" th:value="${T(nano.project.eshop.models.OrderPayement).PAYPAL}" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="box payment-method">

                                        <h4 th:text="${T(nano.project.eshop.models.OrderPayement).PAYMENTGATEWAY}"></h4>

                                        <p>VISA and Mastercard only.</p>

                                        <div class="box-footer text-center">

                                            <input th:checked="(${order.getPayement()} == ${T(nano.project.eshop.models.OrderPayement).PAYMENTGATEWAY}  )? 'true' : 'false'" type="radio" name="payment" th:value="${T(nano.project.eshop.models.OrderPayement).PAYMENTGATEWAY}">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-6">
                                    <div class="box payment-method">

                                        <h4 th:text="${T(nano.project.eshop.models.OrderPayement).CASHONDELIVERY}">Cash on delivery</h4>

                                        <p>You pay when you get it.</p>

                                        <div class="box-footer text-center">

                                            <input th:checked="(${order.getPayement()} == ${T(nano.project.eshop.models.OrderPayement).CASHONDELIVERY}  )? 'true' : 'false'" type="radio" name="payment" th:value="${T(nano.project.eshop.models.OrderPayement).CASHONDELIVERY}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.row -->

                        </div>
                        <!-- /.content -->

                        <div class="box-footer">
                            <div class="pull-left">
                                <a th:href="@{/checkout2}" class="btn btn-default"><i class="fa fa-chevron-left"></i>Back to Shipping method</a>
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-primary">Continue to Order review<i class="fa fa-chevron-right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box -->


            </div>
            <!-- /.col-md-9 -->

            <div class="col-md-3">

                <div class="box" id="order-summary">
                    <div class="box-header">
                        <h3>Order summary</h3>
                    </div>
                    <p class="text-muted">Shipping and additional costs are calculated based on the values you have
                        entered.</p>

                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                            <tr>
                                <td>Order subtotal</td>
                                <th><span id="simpleCart_total2" class="simpleCart_total"></span> </th>
                            </tr>
                            <!--/*@thymesVar id="order" type="nano.project.eshop.models.Order"*/-->
                            <tr>
                                <td>Shipping and handling</td>
                                <th>
                                    <span th:unless="${order.getMethod()}" id="simpleCart_shipping" class="simpleCart_shipping"></span>
                                    <span th:if="${order.getMethod()}" th:text="${T(nano.project.eshop.Helpers).getMethodWorth(order.getMethod()) } + ' DT' "></span> </th>
                            </tr>
                            <tr>
                                <td>Tax Rate</td>
                                <th> <span id="simpleCart_taxRate" class="simpleCart_taxRate"></span></th>
                            </tr>
                            <tr>
                                <td>Tax</td>
                                <th> <span id="simpleCart_tax" class="simpleCart_tax"></span></th>
                            </tr>
                            <tr class="total">
                                <td>Total</td>
                                <th> <span th:unless="${order.getMethod()}" id="simpleCart_grandTotal" class="simpleCart_grandTotal"></span>
                                    <span th:if="${order.getMethod()}" th:text="${T(nano.project.eshop.Helpers).getTotalPrice(order) } + ' DT' "></span>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
            <!-- /.col-md-3 -->

        </div>
        <!-- /.container -->
    </div>
    <div th:include="fragments/footer :: footer"></div>
</div>
<div th:include="fragments/common ::scripts"></div>

</body>
</html>