<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/common :: css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="all">
    <div th:include="fragments/header :: header"></div>
    <div id="content">
        <div class="container">

            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="#">Home</a>
                    </li>
                    <li>Contact</li>
                </ul>

            </div>


            <div class="col-md-2"></div>
            <div class="col-md-8">


                <div class="box" id="contact">
                    <h1>Contact</h1>

                    <p class="lead">Are you curious about something? Do you have some kind of problem with our
                        products?</p>
                    <p>Please feel free to contact us, our customer service center is working for you 24/7.</p>

                    <hr>

                    <div class="row">
                        <div class="col-sm-4">
                            <h3><i class="fa fa-map-marker"></i> Address</h3>
                            <p>Earth Street
                                <br>SPIT City 10
                                <br>Kalaa Kebira
                                <br>Susah
                                <br>
                                <strong>Tunisia</strong>
                            </p>
                        </div>
                        <!-- /.col-sm-4 -->
                        <div class="col-sm-4">
                            <h3><i class="fa fa-phone"></i> Call center</h3>
                            <p class="text-muted">This number is toll free if calling from Tunisia otherwise we advise
                                you to use the electronic form of communication.</p>
                            <p><strong>+216 95042646</strong>
                            </p>
                        </div>
                        <!-- /.col-sm-4 -->
                        <div class="col-sm-4">
                            <h3><i class="fa fa-envelope"></i> Electronic support</h3>
                            <p class="text-muted">Please feel free to write an email to us </p>
                            <ul>
                                <li><strong><a href="mailto:">support@gamereck.com</a></strong>
                            </ul>
                        </div>
                        <!-- /.col-sm-4 -->
                    </div>
                    <!-- /.row -->

                    <hr>

                    <div id="map">

                    </div>

                    <hr>
                    <h2>Contact form</h2>

                    <form th:action="@{/contactus}" method="post">
                        <div th:if="${confirmationMessage}" class="alert alert-success"
                             role="alert" th:text=${confirmationMessage}></div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group input-group has-feedback">
                     <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                             </span>
                                    <input name="sendfirstname" type="text" id="sendfirstname"
                                           placeholder="First Name" class="form-control" required/>
                                    <span class="glyphicon"
                                          aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group input-group has-feedback">
                     <span class="input-group-addon">
                        <span class="glyphicon glyphicon-user"></span>
                             </span>
                                    <input name="sendlastname" type="text" id="sendlastname"
                                           placeholder="Last Name" class="form-control" required/>
                                    <span class="glyphicon"
                                          aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group input-group has-feedback">
                     <span class="input-group-addon">
                        <span class="glyphicon glyphicon-envelope"></span>
                             </span>
                                    <input name="sendemail" type="email" id="sendemail"
                                           placeholder="Email" class="form-control" required/>
                                    <span class="glyphicon"
                                          aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group input-group has-feedback">
                     <span class="input-group-addon">
                        <span class="glyphicon glyphicon-magnet"></span>
                             </span>
                                    <input name="sendsendsubject" type="text" id="sendsubject"
                                           placeholder="Subject" class="form-control" required/>
                                    <span class="glyphicon"
                                          aria-hidden="true"></span>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="form-group input-group has-feedback">
                     <span class="input-group-addon">
                        <span class="glyphicon glyphicon-pencil"></span>
                             </span>
                                        <textarea name="sendmessage"  id="sendmessage"
                                                  placeholder="Message..." class="form-control" required></textarea>

                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-envelope-o"></i> Send
                                    message
                                </button>

                            </div>
                        </div>
                        <!-- /.row -->
                    </form>


                </div>


            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    <div th:include="fragments/footer :: footer"></div>
</div>
<div th:include="fragments/common ::scripts"></div>

</body>
</html>