<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/common :: css" >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="all">
    <div th:include="fragments/header :: header"></div>
    <div id="content">
        <div class="container">

            <div class="col-md-12">

                <ul class="breadcrumb">
                    <li><a th:href="@{/home}">Home</a>
                    </li>
                    <li><a th:href="@{/customer-orders}">My orders</a>
                    </li>
                    <li th:text="'Order # '+${order.getId()}">Order # 1735</li>
                </ul>

            </div>

            <div class="col-md-3">
                <!-- *** CUSTOMER MENU ***
_________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Customer section</h3>
                    </div>

                    <div class="panel-body">

                        <ul class="nav nav-pills nav-stacked">
                            <li class="active">
                                <a th:href="@{/customer-orders}"><i class="fa fa-list"></i> My orders</a>
                            </li>
                            <li>
                                <a th:href="@{/customer-account}"><i class="fa fa-user"></i> My account</a>
                            </li>
                            <li>
                                <a th:href="@{/logout}"><i class="fa fa-sign-out"></i> Logout</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /.col-md-3 -->

                <!-- *** CUSTOMER MENU END *** -->
            </div>
            <!--/*@thymesVar id="order" type="nano.project.eshop.models.Order"*/-->
            <!--/*@thymesVar id="orderline" type="nano.project.eshop.models.OrderLine"*/-->

            <div class="col-md-9" id="customer-order">

                <div class="box">
                    <h1 th:text="'Order #'+${order.getId()}"></h1>

                    <p class="lead" th:inline="text">Order #[[${order.getId()}]] was placed on <strong>[[${T(nano.project.eshop.Helpers).dateFormater(order.getOrder_date(),'dd/MM/yyyy')}]]</strong> and is currently <strong>[[${order.getStatus()}]]</strong>.</p>
                    <p class="text-muted" th:inline="text">If you have any questions, please feel free to <a th:href="@{/contactus}">contact us</a>, our customer service center is working for you 24/7.</p>

                    <hr>

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th colspan="2">Product</th>
                                <th>Quantity</th>
                                <th>Unit price</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="orderline : ${order.getOrderLines()}">
                            <tr>
                                <td>
                                    <a >
                                        <img th:href="@{/product-details(id =${orderline.getProduct().getId()})}" th:src="@{${orderline.getProduct().getPhoto()}}" alt="notfound">
                                    </a>
                                </td>
                                <td><a th:href="@{/product-details(id =${orderline.getProduct().getId()})}" th:text="${orderline.getProduct().getName()}"></a>
                                </td>
                                <td th:text="${orderline.getQuantity()}"></td>
                                <td th:text="${orderline.getProduct().getPrice()}"></td>
                                <td th:text="${orderline.getProduct().getPrice()}*${orderline.getQuantity()}"></td>
                            </tr>
                            </th:block>
                            </tbody>
                            <tfoot>
                            <tr>
                                <th colspan="5" class="text-right">Order subtotal</th>
                                <th th:text="${T(nano.project.eshop.Helpers).getSubTotal(order) } + ' DT'"></th>
                            </tr>
                            <tr>
                                <th colspan="5" class="text-right">Shipping and handling</th>
                                <th th:text="${T(nano.project.eshop.Helpers).getMethodWorth(order.getMethod()) } + ' DT' "></th>
                            </tr>
                            <tr>
                                <th colspan="5" class="text-right">Tax</th>
                                <th>0.00&nbsp;DT</th>
                            </tr>
                            <tr>
                                <th colspan="5" class="text-right">Total</th>
                                <th th:text="${T(nano.project.eshop.Helpers).getTotalPrice(order) } + ' DT'"></th>
                            </tr>
                            </tfoot>
                        </table>

                    </div>

                    <!-- /.table-responsive -->

                    <div class="row addresses">
                        <div class="col-md-6">
                            <h2>Billing address</h2>
                            <p th:inline="text">[[${order.getOwner().getFirstName()}]]&nbsp; [[${order.getOwner().getLastName()}]]
                                <br>[[${order.getAddress().getStreet()}]]
                                <br>[[${order.getAddress().getZip_code()}]]
                                <br>[[${order.getAddress().getCity()}]]
                                <br>[[${order.getAddress().getCountry()}]]
                            </p>
                        </div>
                        <div class="col-md-6">
                            <h2>Shipping address</h2>
                            <p th:inline="text">[[${order.getOwner().getFirstName()}]]&nbsp; [[${order.getOwner().getLastName()}]]
                                <br>[[${order.getAddress().getStreet()}]]
                                <br>[[${order.getAddress().getZip_code()}]]
                                <br>[[${order.getAddress().getCity()}]]
                                <br>[[${order.getAddress().getCountry()}]]
                            </p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <div th:include="fragments/footer :: footer"></div>
</div>
<div th:include="fragments/common ::scripts"></div>

</body>
</html>