<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/common :: css" >
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="all">
    <div th:include="fragments/header :: header"></div>
    <div id="content">
        <div class="container">

            <div class="col-md-12">

                <ul class="breadcrumb">
                    <li><a th:href="@{/home}">Home</a>
                    </li>
                    <li>My orders</li>
                </ul>

            </div>

            <div class="col-md-3">
                <!-- *** CUSTOMER MENU ***
_________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Customer section</h3>
                    </div>

                    <div class="panel-body">

                        <ul class="nav nav-pills nav-stacked">
                            <li class="active">
                                <a th:href="@{/customer-orders}"><i class="fa fa-list"></i> My orders</a>
                            </li>
                            <li>
                                <a th:href="@{/customer-account}"><i class="fa fa-user"></i> My account</a>
                            </li>
                            <li>
                                <a th:href="@{/logout}"><i class="fa fa-sign-out"></i> Logout</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /.col-md-3 -->

                <!-- *** CUSTOMER MENU END *** -->
            </div>

            <div class="col-md-9" id="customer-orders">
                <div class="box">
                    <h1>My orders</h1>

                    <p class="lead">Your orders on one place.</p>
                    <p class="text-muted">If you have any questions, please feel free to <a th:href="@{/contactus}">contact us</a>, our customer service center is working for you 24/7.</p>

                    <hr>

                    <div class="table-responsive">
                        <!--/*@thymesVar id="orders" type="java.util.List<nano.project.eshop.models.Order>"*/-->
                        <!--/*@thymesVar id="order" type="nano.project.eshop.models.Order"*/-->

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Order</th>
                                <th>Date</th>
                                <th>Total</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <th:block th:each="order : ${orders}">
                            <tr>
                                <th th:text="'# '+${order.getId()}"></th>
                                <td th:text="${T(nano.project.eshop.Helpers).dateFormater(order.getOrder_date(),'dd/MM/yyyy')} "></td>
                                <td th:text="${T(nano.project.eshop.Helpers).getTotalPrice(order) } + ' DT'"></td>
                                <td><span th:text="${order.getStatus()}" th:class="'label '+ ${T(nano.project.eshop.Helpers).getLabel(order.getStatus()) }"></span>
                                </td>
                                <td><a th:href="@{/customer-order(id=${order.getId()})}" class="btn btn-primary btn-sm">View</a>
                                </td>
                            </tr>
                            </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <div th:include="fragments/footer :: footer"></div>
</div>
<div th:include="fragments/common ::scripts"></div>

</body>
</html>