<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head th:include="fragments/common ::css">
    <title>Spring Security Example</title>
</head>

<body>
<div>
    <div th:include="fragments/header :: header"></div>
</div>


<div id="all">

    <div id="content">

        <div class="container">
            <div class="col-md-12">
                <div id="main-slider">
                    <div class="item">
                        <img th:src="@{/img/slide1.jpg}" alt="" class="img-responsive"/>
                    </div>
                    <div class="item">
                        <img class="img-responsive" th:src="@{/img/slide2.jpg}" alt=""/>
                    </div>
                    <div class="item">
                        <img class="img-responsive" th:src="@{/img/slide3.jpg}" alt=""/>
                    </div>
                    <div class="item">
                        <img class="img-responsive" th:src="@{/img/slide4.jpg}" alt=""/>
                    </div>
                </div>
                <!-- /#main-slider -->
            </div>
        </div>

        <!-- *** ADVANTAGES HOMEPAGE ***
_________________________________________________________ -->
        <div id="advantages">

            <div class="container">
                <div class="same-height-row">
                    <div class="col-sm-4">
                        <div class="box same-height clickable">
                            <div class="icon"><i class="fa fa-heart"></i>
                            </div>

                            <h3><a href="#">We love our customers</a></h3>
                            <p>We are known to provide best possible service ever</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="box same-height clickable">
                            <div class="icon"><i class="fa fa-tags"></i>
                            </div>

                            <h3><a href="#">Best prices</a></h3>
                            <p>All kind of prices available and even legacy sytems are in stores</p>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <div class="box same-height clickable">
                            <div class="icon"><i class="fa fa-thumbs-up"></i>
                            </div>

                            <h3><a href="#">100% satisfaction guaranteed</a></h3>
                            <p>Refundings are available for all devices shiped by our store.</p>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container -->

        </div>
        <!-- /#advantages -->

        <!-- *** ADVANTAGES END *** -->

        <!-- *** HOT PRODUCT SLIDESHOW ***
_________________________________________________________ -->
        <div id="hot">

            <div class="box">
                <div class="container">
                    <div class="col-md-12">
                        <h2>Hot this week</h2>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="product-slider">
                    <!--/*@thymesVar id="products" type="java.util.List<project.eshop.models.Product>"*/-->
                    <!--/*@thymesVar id="product" type="nano.project.eshop.models.Product"*/-->

                    <th:block th:each="product : ${products}">
                    <div class="item">
                        <div class="product">
                            <div class="flip-container">
                                <div class="flipper">
                                    <div class="front">
                                        <a th:href="@{/product-details(id=${product.getId()})}">
                                            <img th:src="@{${product.getPhoto()}}" alt="" class="img-responsive"/>
                                        </a>
                                    </div>
                                    <div class="back">
                                        <a th:href="@{/product-details(id=${product.getId()})}">
                                            <img th:src="@{${product.getPhoto()}}" alt="" class="img-responsive"/>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <a th:href="@{/product-details(id=${product.getId()})}" class="invisible">
                                <img th:src="@{${product.getPhoto()}}" alt="" class="img-responsive"/>
                            </a>
                            <div class="text">
                                <h3><a th:href="@{/product-details(id=${product.getId()})}" th:text="${product.getName()}"></a></h3>
                                <p class="price" th:text="${product.getPrice()}+' DT'"></p>
                            </div>
                            <!-- /.text -->
                        </div>

                        <!-- /.product -->
                    </div>
                    </th:block>
                </div>
                <!-- /.product-slider -->
            </div>
            <!-- /.container -->

        </div>
        <!-- /#hot -->

        <!-- *** HOT END *** -->

        <!-- *** GET INSPIRED ***
_________________________________________________________ -->
        <div class="container" data-animate="fadeInUpBig">
            <div class="col-md-12">
                <div class="box slideshow">
                    <h3>Newest Technologies</h3>
                    <p class="lead">Find the newest gaming monster machines in our stores</p>
                    <div id="get-inspired" class="owl-carousel owl-theme">
                        <div class="item">
                            <a href="#">
                                <img th:src="@{/img/ps4.jpg}" alt="ps4" class="img-responsive"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img th:src="@{/img/nv1080.jpg}" alt="nvidia" class="img-responsive"/>
                            </a>
                        </div>
                        <div class="item">
                            <a href="#">
                                <img th:src="@{/img/xbox.jpg}" alt="xbox" class="img-responsive"/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- *** GET INSPIRED END *** -->

    </div>
    <!-- /#content -->


    <div th:include="fragments/footer :: footer"></div>
</div>
    <div th:include="fragments/common ::scripts"></div>
</body>
</html>