<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:include="fragments/common :: css">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="product" type="nano.project.eshop.models.Product"*/-->
<div id="all">
    <div th:include="fragments/header :: header"></div>
    <div id="content">
        <div class="container">

            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a th:href="@{/home}">Home</a>
                    </li>
                    <li><a th:href="@{/category(category=${product.getCategory()})}" th:text="${product.getCategory()+'s'}" >False Category</a>
                    </li>
                    <li th:text="${product.getName()}"></li>
                </ul>

            </div>

            <div class="col-md-2">

            </div>

            <div class="col-md-8">

                <div class="simpleCart_shelfItem">
                    <div class="row" id="productMain">
                        <div class="col-sm-6">
                            <input type="hidden" th:value="${product.getId()}" class="item_id">
                            <div class="box">
                            <div id="mainImage">
                                <img  th:src="@{${product.getPhoto()}}" alt="" class="item_thumb img-responsive ">
                            </div>
                        </div>
                            </div>
                            <div class="col-sm-6">

                                <div class="box">
                                <input type="hidden" value="1" class="item_quantity">
                                <h1 class="text-center item_name" th:text="${product.getName()}"></h1>
                                <label for="detail"><strong>Details:</strong></label>
                                <p id="detail" th:text="${product.getDetails()}">

                                </p>
                                </p>
                                <p class="price item_price" th:text="${product.getPrice()}+' DT'"></p>

                                <p class="text-center buttons">
                                    <a href="javascript:;"  class="btn btn-primary item_add"><i class="fa fa-shopping-cart"></i>
                                        Add to cart</a>
                                </p>


                            </div>


                        </div>

                    </div>
                </div>


            </div>

            <div class="col-md-2">

            </div>
            <!-- /.col-md-9 -->
        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->
</div>
<div th:include="fragments/footer :: footer"></div>
</div>
<div th:include="fragments/common ::scripts"></div>

</body>
</html>